defaults
    mode http
    timeout connect 3s
    timeout client 30s
    timeout server 30s

global
    gid 0
    uid 0
    daemon
    nosplice

%{ for host, server in servers ~}
backend ${host}
    mode tcp
    server ${host} ${server.network.private_ipv4}:443

%{ endfor ~}
