endpoints:
%{ for server in servers ~}
  - alerts:
      - type: email
    conditions:
      - "[CONNECTED] == true"
    group: "${tags[server.tag].description}"
    name: "${server.host}"
    url: "icmp://${server.host}"
%{ endfor ~}
