networks:
  default:
    external: true
    name: docker
services:
  service:
    image: portainer/portainer-ce
    labels:
      caddy: portainer.${fqdn_internal}
      caddy.import: internal
      caddy.reverse_proxy: "{{upstreams 9443}}"
    ports:
      - 8000:8000
      - 9443:9443
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data
volumes:
  data:
