Include ~/.orbstack/ssh/config

#############
## Devices ##
#############
%{ for k, device in devices ~}

Host ${k}
	HostName ${k}
	Port ${device.port}
	User ${device.username}
%{ endfor ~}

#############
## Servers ##
#############
%{ for k, server in servers ~}

Host ${k}
	HostName ${k}
	Port ${try(server.networks[0].ssh_port, 22)}
	User ${server.users[0].username}
%{ endfor ~}
