hosts = [
%{ for server in servers ~}
    ("${server.host}", {"name": "${server.name}", "parent_name": "${server.parent_name}", "parent_type": "${server.parent_type}", "ssh_username": "${server.user.username}", "tag": "${server.tag}", "type": "${server.type}"}),
%{ endfor ~}
]

print(hosts)
