Include ~/.orbstack/ssh/config

#############
## Devices ##
#############
%{ for device in devices ~}

Host ${device.host}
	HostName ${device.host}
	Port ${try(device.port, 22)}
	User ${device.username}
%{ endfor ~}

#############
## Servers ##
#############
%{ for server in servers ~}

Host ${server.host}
	HostName ${server.host}
	Port ${server.network.ssh_port}
	User ${server.user.username}
%{ endfor ~}
