Include ~/.orbstack/ssh/config

#############
## Devices ##
#############

Host macbook-pro-14
	HostName macbook-pro-14
	User max.schaefer

Host steam-deck
	HostName steam-deck
	User deck

#############
## Servers ##
#############

%{ for server in servers ~}
Host ${server.host}
	HostName ${server.host}
	User ${server.user.username}

%{ endfor ~}
