#!/bin/sh
cd ${parallels_path}

%{ for server in servers ~}
mv ${server.name}.yaml user-data
touch meta-data
mkisofs -joliet -output ${server.name}.iso -rock -volid cidata meta-data user-data
rm meta-data user-data
%{ endfor ~}

vagrant up --machine-readable --provision
